<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.touchwipe.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>{% block title %}{% endblock %} - PhotoBrowser</title>
    {% endblock %}
</head>
<body class='{% block body_class %}default{% endblock %}'>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <div id="footer">{% block footer %}{% endblock %}</div>
</body>
</html>

