<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <title>{% block title %}{% endblock %} - PhotoBrowser</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        Powered by <a href="https://github.com/pklaus/PhotoBrowser">PhotoBrowser</a>.
        {% endblock %}
    </div>
</body>
</html>

