{% extends "base.jinja2" %}

{% block title %}{{ filename }}{% endblock %}

{% block head %}
  {{ super() }}
  <script>
  // -- Use some jQuery JS (can also be done without jQuery as introduced in daecd1f )
  // -  see http://jqueryfordesigners.com/adding-keyboard-navigation/
  $(document.documentElement).keyup(function (event) {
    // handle cursor keys
    if (event.keyCode == 37) {
      // go left
      document.getElementById('previous').click();
    } else if (event.keyCode == 39) {
      // go right
      document.getElementById('next').click();
    } else if (event.keyCode == 38) {
      // go up
      document.getElementById('up').click();
    }
  });
  </script>
{% endblock %}

{% block content %}

    <center>
    {% if previous %} <a id='previous' href='/show/{{ previous }}'>← previous</a> | {% endif %}
    <a href='/images#{{ filename }}'>All Images</a> | 
    {% if album %} <a id='up' href='/album/{{ album }}#{{ filename }}'>Album View</a> | {% endif %}
    <a href='/image/{{ filename }}'>Full Size Image</a>
    {% if next %} | <a id='next' href='/show/{{ next }}'>next →</a>{% endif %}
    <br />
    <img src='/scaled-image/950/{{ filename }}' />
    </center>
    {% if next %}<img style='display:none' src='/scaled-image/950/{{ next }}' />{% endif %}
    {% if previous %}<img style='display:none' src='/scaled-image/950/{{ previous }}' />{% endif %}

{% endblock %}



