{% extends "base.jinja2" %}

{% block title %}{{ filename }}{% endblock %}

{% block body_class %}show{% endblock %}

{% block head %}
  {{ super() }}
  <script>
  // -- Use some jQuery JS (can also be done without jQuery as introduced in daecd1f )
  // -  see http://jqueryfordesigners.com/adding-keyboard-navigation/
  $(document.documentElement).keyup(function (event) {
    // handle cursor keys
    if (event.keyCode == 37) {
      // go left
      document.getElementById('previous').click();
    } else if (event.keyCode == 39) {
      // go right
      document.getElementById('next').click();
    } else if (event.keyCode == 38) {
      // go up
      document.getElementById('up').click();
    }
  });
  </script>
{% endblock %}

{% block content %}

    <center>
    <div id='image-navigation'>
      {% if previous %} <a id='previous' href='/show/{{ previous }}{% if height %}?height={{height}}{% endif %}'>← previous</a> | {% endif %}
      <a href='/images#{{ filename }}'>All Images</a> | 
      {% if album %} <a id='up' href='/album/{{ album }}#{{ filename }}'>Album View</a> | {% endif %}
      <a href='/api/image/full/{{ filename }}'>Full Size Image</a>
      {% if next %} | <a id='next' href='/show/{{ next }}{% if height %}?height={{height}}{% endif %}'>next →</a>{% endif %}
    </div>
    <img src='/api/image/scaled/{{ height or 600 }}/{{ filename }}' />
    <div id='exif'>
      {% if exif %}
        <strong>Camera:</strong> {{ exif['Model'] }}<br />
        <strong>Parameters:</strong> {{ exif['FocalLength']|format_focallength }}, {{ exif['FNumber']|format_fnumber }}, 
                 exp. {{ exif['ExposureTime']|format_exposuretime }}, ISO {{ exif['ISOSpeedRatings'] }}<br />
        <strong>File:</strong> JPG, {{ exif['ExifImageWidth'] }}x{{ exif['ExifImageHeight'] }} pix, {{ '%.2f'|format(filesize) }} MB
      {% else %}
        <strong>No or incomplete EXIF information<br />stored in this image.</strong>
      {% endif %}
    </div>    
    </center>
    {% if next %}<img style='display:none' src='/api/image/scaled/{{ height or 600 }}/{{ next }}' />{% endif %}
    {% if previous %}<img style='display:none' src='/api/image/scaled/{{ height or 600 }}/{{ previous }}' />{% endif %}

{% endblock %}


{% block footer %}
    {{ copyright }}<br />
    Powered by <a href="https://github.com/pklaus/PhotoBrowser" target="_blank">PhotoBrowser</a>.
{% endblock %}

